*{
	box-sizing: border-box;
}
html {
	
	font-size: 10px;
}
body {
	
	margin: 0;
	background: #f1f1f1;
}

.conteiner {
	position: absolute;
	margin: auto;
	width: 80vmin;
	height: 80vmin;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #FFCA28;
	border: 30px solid #424242
}
.row {
	position: relative;
	height: 12.5%;
	width: 100%;
}
  .row:nth-child(odd) .cell:nth-child(even),
  .row:nth-child(even) .cell:nth-child(odd) {
    background-color: #212121; 
  }

.part {
	position: absolute;
  	width: 12.5%;
  	height: 100%;
  	top: 0; 
  	}