*{
	box-sizing: border-box;
} 

html {
	height: 100vh;
	font-size: 10px;
}

body {
	margin: 0;
    height: 100vh;
}

.container {
	position: relative;
	/* margin: 0; */
	height: 396px;
	max-width: 396px;
    background-color:  #E6E6FA;
background-image: linear-gradient( 45deg,  #7B68EE 25%, transparent 25%, transparent 74%,  #7B68EE 75%,  #7B68EE), 
linear-gradient( 45deg,  #7B68EE 25%, transparent 25%, transparent 74%,  #7B68EE 75%,  #7B68EE);
background-size:100px 100px;
background-position: 0 0, 50px 50px;
}
	
.piece {
	display: inline-block;
	width: 40px;
	height: 40px;
	/* background: #000; */
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.piece:hover,
.piece:focus,
.piese:active {
	box-shadow: 0 0 15px rgba(0,0,0,1);
}

/* .row {
	position: relative;
} */

.piece--white {
	background: #FFE4C4;
	position: absolute;
}

.piece--1 {
	right: 305px;
	top: 4px;
}

.piece--2 {
	
	right: 205px;
	top: 4px;
}

.piece--3 {
	right: 105px;
	top: 4px;
}

.piece--4 {
	right: 5px;
	top: 4px;
}

.piece--5{
	right: 355px;
	top: 55px;
}
.piece--6{
	
	right: 255px;
	top: 55px;
}
.piece--7{
	right: 155px;
	top: 55px;
}
.piece--8{
	right: 55px;
	top: 55px;
}
.piece--9 {
	right: 305px;
	top: 106px;
}
.piece--10 {
	right: 205px;
	top: 106px;
}
.piece--11 {
	right: 105px;
	top: 106px;
}
.piece--12 {
	right: 5px;
	top: 106px;
}

.piece--dark {
	background: #8B4513;
	position: absolute;
}

.piece--13 {
	bottom: 4px;
	left: 4px;
}

.piece--14 {
	bottom: 4px;
	left: 105px;
}

.piece--15 {
	bottom: 4px;
	left: 205px;
}

.piece--16 {
	bottom: 4px;
	left: 305px;
}


.piece--17 {
	bottom: 55px;
	left: 55px;
}

.piece--18 {
	bottom: 55px;
	left:155px;
}

.piece--19 {
	bottom: 55px;
	left: 255px;
}

.piece--20 {
	bottom: 55px;
	left: 355px;
}

.piece--21 {
	bottom: 106px;
	left: 4px;
}

.piece--22 {
	bottom: 106px;
	left: 105px;
}

.piece--23 {
	bottom: 106px;
	left: 205px;
}

.piece--24 {
	bottom: 106px;
	left: 305px;
}






	
